@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700);
body{
	font: 20px 'Ubuntu';
	color:#acacac;
	/*text-shadow:1px 1px 1px #000;
	d7ebfe*/
	font-weight: 400;
	/*background-image:url("images/robots/robots_@2X.png");
	*/
	background-color: #F0F8FF;
	margin: 0;
}
header{
	width:100%;
	height: 50px;
	position: fixed;
	z-index:2;
	background-color: #F0F8FF;
	/*background-image:url("images/robots/robots_@2X.png");
	*/
}
footer{
	width:100%;
	/*background-color:#fff;*/
	padding: 15px;
	color:#acacac;
}
div#DisasterWarning{
	font-weight: 20;
	color:#acacac;
	display:inline-block;
	float:left;
	text-decoration:none;
	font: 24px;
	margin: 0 0 0 20px;
	padding-top: 10px;
}
a{
	text-decoration:none;
}
div#DisasterWarning a:visited{
	color:#b6b6b6;
}
div#DisasterWarning a:hover{
	color:#b6b6b6;                                                                                                                                                                                       
}
div#DisasterWarning a.active{
	color:#F0F8FF;
}
section#about{
	font: 24px 'Ubuntu';
	background-color:#F0F8FF;
	padding-left: 10px;
}
p{
	text-indent:1.5em;
}
h1{
	font: 35px 'Ubuntu';
	padding: 0;
}
section#Projects{
	padding:0 10px;
	background-color: #fff;
}
section#Projects h1{
	padding-top:10px;
}
div.three-items {
	display:block;
	text-align:center;
	width:100%;
}
div.an-item {
	display:inline-block;
	width 33%;
	margin:50px;
}

div.text-item {
	/*padding: 30px;*/
	width:200px;
}
div.text-item h4{
	padding-left: 25px;
}
div.an-item img{
	border-radius:50%;
	width:123px;
	height:123px;
	display: block;
	padding-bottom: 10px;
	margin: 0 50px;
}
div.an-item p{
	width:100%;

	margin:0.5rem 1rem 0rem;
}

main{
	padding-top:50px;
}
section#welcome {
	width:100%;
	height: 400px;
	background-image:url("images/technics-q.jpg");
	background-size:100%;
	background-position:center;
}
div#welcome-text {
	width: 100%;
	position: absolute;
	text-align: center;
	padding:250px 0 250px;
	text-shadow: 2px 2px 2px #000000;
}
nav{
	display: inline-block;
	float: right;
}
nav ul{
	padding: 0;
	margin: 0;
}
nav li{
	display:inline-block;
	text-decoration:none;
	margin: 0 15px;
}
nav a:visited{
	color:#b6b6b6;
}
nav a:hover{
	color:#b6b6b6;
}
nav a.active{
	color:#F0F8FF;
}
#headerMenu {
	display:inline;
	padding-top:10px;
}

div.table{
	display: table;
	table-layout:fixed;
	width:100%;
	text-align:center;
}
